.footerContent{
    position: absolute;
    margin-top: 2rem;

    .featuresFooter{
        label:nth-of-type(1){ 
            font-size: 1.25rem;
            font-weight: 525;
            position: absolute;
            margin-top: -2.5rem;
            margin-left: 20rem;
        }
        label:nth-of-type(2){
            font-size: 1.25rem;
            margin-top: 1rem;
            position: absolute;
            margin-left: 20rem;
        }
        label:nth-of-type(3){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 3.25rem;
            margin-left: 20rem;
        }
        label:nth-of-type(4){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 5.5rem;
            margin-left: 20rem;
        }
    }

    .resourcesFooter{
        label:nth-of-type(1){ 
            font-size: 1.25rem;
            font-weight: 525;
            position: absolute;
            margin-top: -2.5rem;
            margin-left: 35rem;
        }
        label:nth-of-type(2){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 1rem;
            margin-left: 35rem;
        }
        label:nth-of-type(3){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 3.25rem;
            margin-left: 35rem;
        }
        label:nth-of-type(4){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 5.5rem;
            margin-left: 35rem;
        }
    }

    .companyFooter{
        label:nth-of-type(1){ 
            font-size: 1.25rem;
            font-weight: 525;
            position: absolute;
            margin-top: -2.25rem;
            margin-left: 45rem;
        }
        label:nth-of-type(2){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 1rem;
            margin-left: 45rem;
        }
        label:nth-of-type(3){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 3.25rem;
            margin-left: 45rem;
        }
        label:nth-of-type(4){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 5.5rem;
            margin-left: 45rem;
        }
        label:nth-of-type(5){
            font-size: 1.25rem;
            position: absolute;
            margin-top: 7.5rem;
            margin-left: 45rem;
        }
    }
    
    .socialNetworksFooter{
        margin-top: -2.5rem;
        margin-left: 55rem;
        i{
            margin-left: 1rem;
        }            
    }
}